@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");
*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  background-color: #1f1d2c;
  color: rgba(255, 255, 255, 0.8);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

.about {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15rem;
}
@media screen and (max-width: 800px) {
  .about {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
}
.about__container {
  flex: 1 0 50%;
}
@media screen and (max-width: 800px) {
  .about__container {
    width: 80%;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .about__container h3 {
    margin-bottom: 1rem;
  }
}
.about__boxes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
@media screen and (max-width: 800px) {
  .about__boxes {
    width: 100%;
    margin: 0 auto;
  }
}
.about__boxes--box {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  transition: all 0.5s;
}
.about__boxes--box:hover {
  background-color: transparent;
}
.about__boxes--box-icons {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.about__boxes .front-end {
  grid-column: 1/5;
}
@media screen and (max-width: 800px) {
  .about__boxes .front-end {
    width: 100%;
    grid-column: 1/7;
  }
}
.about__boxes .soft-skills {
  grid-column: 1/3;
  grid-row: 2/4;
}
@media screen and (max-width: 800px) {
  .about__boxes .soft-skills {
    grid-column: 1/7;
  }
}
.about__boxes .back-end {
  grid-column: 3/6;
}
@media screen and (max-width: 800px) {
  .about__boxes .back-end {
    grid-column: 1/7;
  }
}
.about__boxes .diseño {
  grid-column: 3/6;
}
@media screen and (max-width: 800px) {
  .about__boxes .diseño {
    grid-column: 1/7;
  }
}
.about__text-box {
  flex: 1 0 50%;
  background-color: rgba(38, 40, 55, 0.2);
  padding: 2rem;
}
@media screen and (max-width: 800px) {
  .about__text-box {
    width: 80%;
    text-align: center;
  }
}
.about__me {
  font-size: 3.5rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.about__me span {
  color: #ddac58;
}
.about__description {
  font-size: 1.8rem;
  max-width: 45ch;
  margin-bottom: 2.5rem;
  color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width: 800px) {
  .about__description {
    width: 100%;
  }
}
.about__hobbies-title {
  font-size: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.about__hobbies-title span {
  color: #ddac58;
}
.about__hobbies {
  display: flex;
  justify-content: space-around;
  width: 80%;
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 800px) {
  .about__hobbies {
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
.about__hobbies ion-icon[name=game-controller-outline] {
  color: #10780f;
}
.about__hobbies ion-icon[name=basketball-outline] {
  color: #f08e1e;
}
.about__hobbies ion-icon[name=book-outline] {
  color: #3362a0;
}

.head {
  margin-bottom: 20rem;
}
.head__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
@media screen and (max-width: 900px) {
  .head__navigation {
    flex-direction: column;
    gap: 2.5rem;
  }
}
.head__navigation--brand {
  background-color: #576361;
  border-radius: 100%;
  padding: 1rem 2rem;
}
.head__navigation--logo {
  font-size: 3rem;
}
@media screen and (max-width: 800px) {
  .head__navigation--menu {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}
.head__navigation--item {
  display: inline-block;
  margin-right: 2.5rem;
}
.head__navigation--item a {
  display: inline-block;
  font-size: 1.7rem;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.5s;
  transform: scale(1, 1);
}
.head__navigation--item a:hover {
  transform: scale(1.2, 1.2);
}
.head__box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 900px) {
  .head__box {
    flex-direction: column;
    gap: 2.5rem;
  }
}
.head__box--name {
  font-size: 3.5rem;
  letter-spacing: 1.5px;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.head__box--name span {
  color: #ddac58;
}
.head__box--text-container {
  flex: 1 0 35%;
}
@media screen and (max-width: 900px) {
  .head__box--text-container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
  }
}
.head__box--desc {
  font-family: "Roboto Serif", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
  color: #86858d;
  margin-bottom: 4rem;
}
.head__box--img {
  flex: 1 0 24%;
  background-color: rgba(38, 40, 55, 0.2);
}
@media screen and (max-width: 900px) {
  .head__box--img {
    width: 60%;
    margin: 0 auto;
  }
}
.head__box--icons {
  flex: 1 0 35%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  text-align: center;
}
@media screen and (max-width: 900px) {
  .head__box--icons {
    display: flex;
    justify-content: space-around;
  }
}
.head__box--icon {
  display: block;
  font-size: 5rem;
  color: #fff;
  transition: all 0.5s;
  transform: scale(1, 1);
}
.head__box--icon:hover {
  transform: scale(1.2, 1.2);
}
.head__box--icon-1 {
  grid-column: 3/4;
  grid-row: 2/3;
}
.head__box--icon-1:hover {
  color: #2ea043;
}
.head__box--icon-2 {
  grid-column: 4/5;
  grid-row: 3/4;
}
.head__box--icon-2:hover {
  color: #2867b2;
}
.head__box--icon-3 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.head__box--icon-3:hover {
  color: #1d9bf0;
}
.head__box--icon-4 {
  grid-column: 3/4;
  grid-row: 4/5;
}
.head__box--icon-4:hover {
  color: #0d8cf0;
}
.head__box .heading-3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  grid-column: 2/5;
  align-self: end;
}

.container {
  max-width: 180rem;
  margin: 0 auto;
  padding: 3rem 6rem;
}
@media screen and (max-width: 900px) {
  .container {
    width: 100vw;
  }
}

.btn {
  padding: 1rem 4rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: transparent;
  border: 1px solid #ddac58;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover {
  background-color: #ddac58;
  color: #1f1d2c;
}

.about__boxes--box {
  padding: 2rem;
  text-align: center;
}
.about__boxes--box ul li {
  margin-bottom: 1rem;
}

.icon-group p {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}
.icon-group ion-icon {
  font-size: 4rem;
}

.heading-4 {
  font-size: 2.2rem;
  color: #86858d;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

ion-icon[name=logo-html5] {
  color: #e96228;
}

ion-icon[name=logo-css3] {
  color: #146eb0;
}

ion-icon[name=logo-javascript] {
  color: #efd81d;
}

ion-icon[name=logo-react] {
  color: #5ed3f3;
}

ion-icon[name=phone-portrait-outline] {
  color: orangered;
}

ion-icon[name=logo-nodejs] {
  color: #8abc41;
}

ion-icon[name=close-outline] {
  color: #2f2f2f;
}

ion-icon[name=leaf-outline] {
  color: #249043;
}

ion-icon[name=logo-figma] {
  color: #9a54f2;
}

ion-icon[name=image-outline] {
  color: #2f9ff2;
}

/*# sourceMappingURL=styles.css.map */
