// Font
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif&display=swap");
/////////////////////////////////////
// Variables
/////////////////////////////////////

// Colores
$clr-bg: #1f1d2c;
$clr-dark-light: #262837;
$clr-text-dark: #86858d;
$clr-text-light: rgba(255, 255, 255, 0.8);
$clr-text-bg: #576361;
$clr-button: #ddac58;

// Fuentes
$font-stack: "Work Sans", sans-serif;
$second-font: "Roboto Serif", sans-serif;

// Reset
*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;

  @media screen and (max-width: 1200px) {
    font-size: 50%;
  }
  @media screen and (max-width: 900px) {
    font-size: 40%;
  }
}

body {
  font-family: $font-stack;
  font-size: 1.5rem;
  background-color: $clr-bg;
  color: $clr-text-light;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

// Mixim
@mixin heading-1 {
  font-size: 3.5rem;
  letter-spacing: 1.5px;
  font-weight: 700;
}
