@use "base" as *;

.proyectos {
  padding: 3rem;
  margin-bottom: 20rem;
  &__title {
    @include heading-1;
    text-align: center;
    margin-bottom: 4.5rem;

    span {
      color: $clr-button;
      border-bottom: 1px solid $clr-button;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 7vw);
    grid-template-rows: repeat(8, 10rem);
    place-content: center;
    width: 100%;

    @media screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: rgba($clr-dark-light, 0.4);
    overflow: hidden;
    transition: all 0.5s;
    transform: scale(1, 1);

    &:hover {
      transform: scale(1.1, 1.1);
    }

    @media screen and (max-width: 800px) {
      text-align: center;
      border-radius: 1rem;
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    margin-bottom: 1rem;
  }

  &__stack {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  &__links {
    margin-bottom: 2rem;

    a {
      font-size: 1.8rem;
      text-decoration: none;
      color: $clr-text-light;

      &:hover {
        color: #fff;
      }
    }
  }

  &__img {
    justify-self: flex-end;
    width: 100%;
    margin: 0 auto;
    transform: rotate(-25deg);

    @media screen and (max-width: 800px) {
      transform: rotate(0deg);
    }

    img {
      object-fit: contain;
    }
  }

  &__proyecto-1 {
    grid-column: 1 / 7;
    grid-row: 1 / 4;
  }
  &__proyecto-2 {
    grid-column: 8 / 13;
    grid-row: 1 / 5;
  }
  &__proyecto-3 {
    grid-column: 1 / 6;
    grid-row: 5 / 9;
  }
  &__proyecto-4 {
    grid-column: 7 / 13;
    grid-row: 6 / 9;
  }
}
